spring.application.name=GreenFood
server.port=8081

spring.datasource.url=jdbc:mysql://localhost:3306/greenfood?useSSL=false&serverTimezone=Asia/Bangkok&allowPublicKeyRetrieval=true
spring.datasource.username=root
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true


vnpay.tmn-code=YOUR_TMN_CODE
vnpay.hash-secret=YOUR_HASH_SECRET
vnpay.url=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
vnpay.return-url=http://localhost:8081/api/payment/vnpay-return
vnpay.api-url=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction

spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=your_email@example.com
spring.mail.password=your_password
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
roboflow.api-key=YOUR_ROBOFLOW_API_KEY
roboflow.model=lmp/ingredient-zrsop
roboflow.version=2
roboflow.api-url=https://detect.roboflow.com
